@model BTL_WEB.Models.SANPHAM

<tr>
    <th scope="row">
        <div class="d-flex align-items-center">
            <img src="~/Public/img/@Model.HINHLON" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
        </div>
    </th>
    <td>
        <p class="mb-0 mt-4">@Model.TENSP</p>
    </td>
    <td>
        <p class="mb-0 mt-4">@Model.DONGIA</p>
    </td>
    <td>
        <div class="input-group quantity mt-4" style="width: 100px;">
            <div class="input-group-btn">
                <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <input type="text" class="form-control form-control-sm text-center border-0" value="@(ViewBag.SoLuong)">
            <div class="input-group-btn">
                <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </td>
    <td>
        <p class="mb-0 mt-4">@((int)ViewBag.SoLuong * Model.DONGIA)</p>
    </td>
    <td>
        <button class="btn btn-md rounded-circle bg-light border mt-4">
            <i class="fa fa-times text-danger"></i>
        </button>
    </td>
</tr>
